.vs/
ImageRepainterForms/obj/
ImageRepainterForms/bin/Release
ImageRepainterForms/bin/Debug/ColorHelper.dll
ImageRepainterForms/bin/Debug/ImageRepainterForms.exe
ImageRepainterForms/bin/Debug/ImageRepainterForms.exe.config
ImageRepainterForms/bin/Debug/ImageRepainterForms.pdb