.vs/
ImageRepainterForms/obj/
ImageRepainterForms/ImageRepainterForms/bin/Release
ImageRepainterForms/ImageRepainterForms/bin/Debug/ColorHelper.dll
ImageRepainterForms/ImageRepainterForms/bin/Debug/ImageRepainterForms.exe
ImageRepainterForms/ImageRepainterForms/bin/Debug/ImageRepainterForms.exe.config
ImageRepainterForms/ImageRepainterForms/bin/Debug/ImageRepainterForms.pdb